@using Microsoft.AspNetCore.Components.Web
@using Web.Services
@namespace Web.Pages
@inject ThemeService _themeService
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head class="@(_themeService.IsDarkTheme() ? "dark" : "light")">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link rel="stylesheet" href="@($"_content/Radzen.Blazor/css/{_themeService.CurrentTheme}.css")">
    <link rel="stylesheet" href="css/app.min.css"/>
    <title>Convert JSON String to C# String</title>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
    <!-- Primary Meta Tags -->
    <title>Convert JSON string to a C# string variable.</title>
    <meta name="title" content="Convert JSON string to a C# string variable.">
    <meta name="description" content="This tool instantly escapes a JSON string into a C# string variable which you can paste into your program. ">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://json-to-c-sharp.ndolestudio.com/">
    <meta property="og:title" content="Convert JSON string to a C# string variable.">
    <meta property="og:description" content="This tool instantly escapes a JSON string into a C# string variable which you can paste into your program. ">
    <meta property="og:image" content="https://json-to-c-sharp.ndolestudio.com/img/header-image.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://json-to-c-sharp.ndolestudio.com/">
    <meta property="twitter:title" content="Convert JSON string to a C# string variable.">
    <meta property="twitter:description" content="This tool instantly escapes a JSON string into a C# string variable which you can paste into your program. ">
    <meta property="twitter:image" content="https://json-to-c-sharp.ndolestudio.com/img/header-image.png">
</head>
<body>
@RenderBody()

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
<script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</body>
</html>